body {
    font-family: serif;
    background-color: black;
    color: white;
}

.main {
    position: relative;
    max-width: 1280px;
    max-height: 720px;
    min-height: 300px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    /* background-color: grey; */
}

.left_panel {
    position: absolute;
    padding: 0px;
    width: 300px;
    /* background-color: green; */
}

.right_panel {
    position: absolute;
    padding: 0px;
    width: 250px;
    right: 0px;
    /* background-color: brown; */
}


img{
    position: absolute;
    bottom: 30;
    right: 30;
}

ul{
    list-style: none;
    padding-left: 20px
}

a {
    color: aquamarine;
}