
<!DOCTYPE html>
<html lang="en">
    <head>
	<title>Factory threejs</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
	 body {
	     font-family: Monospace;
	     background-color: #000;
	     color: #fff;
	     margin: 0px;
	     overflow: hidden;
	 }
	 #info {
	     color: #fff;
	     position: absolute;
	     top: 10px;
	     width: 100%;
	     text-align: center;
	     z-index: 100;
	     display:block;
	 }
	 #info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
	</style>
    </head>

    <body>
	<div id="info">
	    <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - OBJLoader + MTLLoader
	</div>

        <script type="text/javascript" src="../static/three.js"></script>
        <script type="text/javascript" src="../static/OrbitControls.js"></script>
        <script type="text/javascript" src="../static/CSS2DRenderer.js"></script>

        <script type="text/javascript" src="../static/LoaderSupport.js"></script>
        <script type="text/javascript" src="../static/DDSLoader.js"></script>
        <script type="text/javascript" src="../static/MTLLoader.js"></script>
        <script type="text/javascript" src="../static/OBJLoader.js"></script>
        <script type="text/javascript" src="../static/OBJLoader2.js"></script>
        

        <script type="text/javascript" src="../static/Detector.js"></script>
        <script type="text/javascript" src="../static/stats.min.js"></script>
                


	<script>
	 var container, stats;
	 var camera, scene, renderer;
	 var mouseX = 0, mouseY = 0;
	 var windowHalfX = window.innerWidth / 2;
	 var windowHalfY = window.innerHeight / 2;
         var pointLight, spotLight, spotLight2;

	 init();
	 animate();

         function init() {
             
             // SCENE
             scene = new THREE.Scene();
             
             // CAMERA AND CONTROL
	     camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 2000 );
             camera.position.z = 20;
             camera.position.y = 10;
             scene.add(camera);

             controls = new THREE.OrbitControls(camera);
             controls.minDistance = 1;
	     controls.maxDistance = 20;
	     controls.enablePan = false;
             controls.maxPolarAngle = Math.PI / 2;

	     // LIGHT
	     var ambientLight = new THREE.AmbientLight(0xffffff, 0.9);
	     scene.add( ambientLight );


             spotLight = new THREE.SpotLight( 0xffffff );
             spotLight.intensity = 0.8;
             spotLight.distance = 20;
             spotLight.angle = Math.PI/4;
             spotLight.decay = 1;
             spotLight.castShadow = true;
             spotLight.shadow.camera.near = 1;
             spotLight.shadow.camera.far = 5;
             spotLight.position.set(0,5,0)
             scene.add( spotLight );
             
             spotLightHelper = new THREE.SpotLightHelper( spotLight );
             scene.add( spotLightHelper );

             
             
	     // MODEL
	     var onProgress = function ( xhr ) {
		 if ( xhr.lengthComputable ) {
		     var percentComplete = xhr.loaded / xhr.total * 100;
		     console.log( Math.round(percentComplete, 2) + '% downloaded' );
		 }
	     };

	     var onError = function ( xhr ) { };
	     THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );
             
             var mtlLoader = new THREE.MTLLoader();
             mtlLoader.setPath( "../static/models/" );
             mtlLoader.setMaterialOptions({side: THREE.DoubleSide});
	     mtlLoader.load( 'factory_ks4.mtl', function( materials ) {
                 materials.preload();
                 console.log('material:',materials);
                 var objLoader = new THREE.OBJLoader();
                 objLoader.setMaterials( materials );
                 objLoader.setPath( "../static/models/" );
                 objLoader.load( 'factory_ks4.obj', function ( object ) {
                     console.log('factory object', object);
                     
                     object.children[ 0 ].receiveShadow = true;
                     object.children[ 0 ].castShadow = true;
                     object.position.set(0,-0.5,0);
                     
                     scene.add( object );
                 }, onProgress, onError );
             });


             // GEOMETRY
             var box = new THREE.BoxGeometry( 0.5, 0.5, 0.5 );
             var box_mat = new THREE.MeshStandardMaterial( 0.1, 0 );
             var mesh = new THREE.Mesh( box, box_mat );
             mesh.castShadow = true;
             mesh.position.set( 3,2,1 );
             scene.add( mesh );
             
             
             // FLOOR
             var floor = new THREE.BoxGeometry( 100, 1, 100 );
             var floor_mat = new THREE.MeshStandardMaterial({color:0x808080});
             floor_mat.roughness = 1;
             var mesh = new THREE.Mesh( floor, floor_mat );
             mesh.position.set( 0, -1, 0 );
             mesh.receiveShadow = true;
             scene.add( mesh );

             // TEXT
             var texts = ["test text"]
             var element = document.createElement( 'div' );
             element.className = 'label';
             element.textContent = texts[0]
             
             var label = new THREE.CSS2DObject( element );
             label.position.set(1,0.2,0.8);
             scene.add( label );
             console.log("text label", label);

             // RENDERER
             container = document.createElement( 'div' );
	     document.body.appendChild( container );

	     renderer = new THREE.WebGLRenderer( );
	     renderer.setPixelRatio( window.devicePixelRatio );
	     renderer.setSize( window.innerWidth, window.innerHeight );
	     container.appendChild( renderer.domElement );

             renderer.gammaInput = true;
             renderer.gammaOutput = true;

             renderer.shadowMap.enabled = true;
             renderer.shadowMap.type = THREE.PCFSoftShadowMap;

             // TEXT RENDERER
             labelRenderer = new THREE.CSS2DRenderer();
             labelRenderer.setSize( window.innerWidth, window.innerHeight );
             labelRenderer.domElement.style.position = 'absolute';
             labelRenderer.domElement.style.top = '0';
             labelRenderer.domElement.style.pointerEvents = 'none'
             container.appendChild( labelRenderer.domElement );

             // WINDOW	     
	     window.addEventListener( 'resize', onWindowResize, false );

             // STATS
             stats = new Stats();
             container.appendChild(stats.dom);
             
	 } // end init
         
	 function onWindowResize() {
	     windowHalfX = window.innerWidth / 2;
	     windowHalfY = window.innerHeight / 2;
	     camera.aspect = window.innerWidth / window.innerHeight;
	     camera.updateProjectionMatrix();
	     renderer.setSize( window.innerWidth, window.innerHeight );
	 }
         
	 function animate() {
	     requestAnimationFrame( animate );
             render();
             stats.update();
	 }

         function render() {
             controls.update();

	     renderer.render( scene, camera );
             labelRenderer.render(scene, camera);
         }
         


	</script>

    </body>
</html>
