<html>
    <head>
        <title>threejs - learn</title>
        <style>
         body {
             margin: 0;
             overflow: hidden;
         }
         canvas {
             background: red;
         }
        </style>
    </head>
    <body>
        <canvas id="myCanvas"></canvas>

        <!-- <script src="../static/three.min.js"></script>
             <script src="../static/STLLoader.js" charset="utf-8"></script> -->
        <script type="text/javascript" src="{{ url_for('static', filename='three.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='STLLoader.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='OrbitControls.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='Detector.js') }}"></script>
        <script>
         var renderer = new THREE.WebGLRenderer({canvas: document.getElementById("myCanvas"), antialias: true});
         renderer.setClearColor(0x00ff00);
         renderer.setPixelRatio(window.devicePixelRatio);
         renderer.setSize(window.innerWidth, window.innerHeight);
         //CAMERA and CONTROL
         var camera = new THREE.PerspectiveCamera(35, window.innerWidth / window.innerHeight, 0.1, 15000);
         camera.position.set(0, 0, 40);
         controls = new THREE.OrbitControls(camera);
         
         //SCENE
         var scene = new THREE.Scene();
         //LIGHTS
         var light = new THREE.AmbientLight(0xffffff, 0.5);
         scene.add(light)
         var light1 = new THREE.PointLight(0x000fff, 0.5);
         scene.add(light1)
         //MATERIAL
         var material = new THREE.MeshLambertMaterial({color: 0xffffff});
         var material2 = new THREE.MeshLambertMaterial({color: 0xf0bb00});
         var material3 = new THREE.MeshPhongMaterial({
             color: 0xF3FFE2,
             specular: 0xFFFFFF,
             shininess: 30
         });
         
         //GROUND
         var plane = new THREE.Mesh(
             new THREE.PlaneBufferGeometry(40, 40),
             new THREE.MeshPhongMaterial( { color: 0x999999, specular: 0x101010 } )
         );
         scene.add(plane);
         
         //MODEL
         var loader = new THREE.STLLoader();
         loader.load( "{{ url_for('static', filename='models/factory2.stl') }}", handle_load);
         
         function handle_load(geometry, materials) {
             var material = new THREE.MeshNormalMaterial();
             var mesh = new THREE.Mesh(geometry, materials);
             mesh.scale.set(0.001, 0.001, 0.001);
             mesh.position.set(0, 0, 0);
             mesh.rotation.set(Math.PI/2, 0, 0);
             
             scene.add(mesh);
         }
         
         //RENDER
         //requestAnimationFrame(render);
         render();
         function render() {
             /* mesh.rotation.x += 0.005;
              * mesh.rotation.y += 0.01;*/
             controls.update();
             renderer.render(scene, camera);
             requestAnimationFrame(render);
         }
        </script>
    </body>
</html>
