
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Factory threejs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
     body {
         font-family: Monospace;
         background-color: #000;
         color: #fff;
         margin: 0px;
         overflow: hidden;
     }
     #data {
        position: absolute;
     }
     #info {
        position: absolute;
        top: 0px; width: 100%;
        color: #ffffff;
        padding: 5px;
        font-family: Monospace;
        font-size: 13px;
        text-align: center;
     }
     #info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
    </style>
    </head>

    <body>
    <div id="info">
        3D Factory
    </div>


    <div id="data">
            <div>
                <h1 id='machine_name'> Extruder 2</h1>
            </div>
        
            <div>
                <h2>Speed:  500 mpm</h2>
                <h2>Length:  8973 m</h2>
            </div>
    </div>


        <script type="text/javascript" src="../static/three.js"></script>
        <script type="text/javascript" src="../static/OrbitControls.js"></script>
        <script type="text/javascript" src="../static/CSS2DRenderer.js"></script>

        <script type="text/javascript" src="../static/LoaderSupport.js"></script>
        <script type="text/javascript" src="../static/DDSLoader.js"></script>
        <script type="text/javascript" src="../static/MTLLoader.js"></script>
        <script type="text/javascript" src="../static/OBJLoader.js"></script>
        <script type="text/javascript" src="../static/OBJLoader2.js"></script>

        <script type="text/javascript" src="../static/Detector.js"></script>
        <script type="text/javascript" src="../static/stats.min.js"></script>

        <script type="text/javascript" src="../static/CopyShader.js"></script>
        <script type="text/javascript" src="../static/FXAAShader.js"></script>
        <script type="text/javascript" src="../static/EffectComposer.js"></script>
        <script type="text/javascript" src="../static/RenderPass.js"></script>
        <script type="text/javascript" src="../static/ShaderPass.js"></script>
        <script type="text/javascript" src="../static/OutlinePass.js"></script>

        <script type="text/javascript" src="../static/dat.gui.js"></script>


    <script>
        var machine_text = {
            "machine_01": {
                "text_name": "machine_01",
                "text_color": [128, 128, 128],
                "text_position": [1, -0.3, 0.8],
            },

            "machine_02": {
                "text_name": "machine_02",
                "text_color": [128, 128, 0],
                "text_position": [2, -0.3, 0.8]
            }
        };


        var container, stats;
        var camera, scene, renderer;
        var mouseX = 0,
            mouseY = 0;
        var windowHalfX = window.innerWidth / 2;
        var windowHalfY = window.innerHeight / 2;
        var ambientLight, pointLight, spotLight, spotLight2;
        var floor;

        var raycaster;
        var mouse = new THREE.Vector2(), INTERSECTED;
        var interactive_objects = [];
        var scaleSelect = 1.;

        var gui;

        var composer, effectFXAA, outlinePass;

        init();
        animate();

        function init() {

            // RENDERER
            container = document.createElement('div');
            document.body.appendChild(container);

            renderer = new THREE.WebGLRenderer( { antialias: false } );
            renderer.setPixelRatio(window.devicePixelRatio);
            renderer.setSize(window.innerWidth, window.innerHeight);
            container.appendChild(renderer.domElement);

            renderer.gammaInput = true;
            renderer.gammaOutput = true;

            renderer.shadowMap.enabled = true;
            renderer.shadowMap.renderReverseSided = false;
            renderer.shadowMap.type = THREE.PCFSoftShadowMap;

            // SCENE
            scene = new THREE.Scene();
            scene.background = new THREE.Color( 0xbebebe );

            // CAMERA AND CONTROL
            camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 200000);
            camera.position.z = 17000;
            camera.position.y = 20000;
            camera.position.x = 17000;
            scene.add(camera);

            controls = new THREE.OrbitControls(camera, renderer.domElement);
            controls.minDistance = 1000;
            controls.maxDistance = 100000;
            controls.enablePan = true;
            controls.maxPolarAngle = Math.PI / 2;
            controls.enableDamping = true;
            controls.dampingFactor = 0.5;
            controls.update();

            // LIGHT
            ambientLight = new THREE.AmbientLight(0xffffff, 0.7);
            scene.add(ambientLight);

            spotLight = new THREE.SpotLight(0xffffff);
            spotLight.distance = 80000;
            spotLight.intensity = 1;
            spotLight.angle = 0.65;
            spotLight.penumbra = 0.3;
            spotLight.decay = 1;
            spotLight.castShadow = true;
            spotLight.shadow.camera.near = 1;
            spotLight.shadow.camera.far = 5;
            spotLight.position.set(4000, 35000, 4000)
            scene.add(spotLight);

            spotLightHelper = new THREE.SpotLightHelper(spotLight);
            scene.add(spotLightHelper);



            // MODEL
            // Model saved that the box is the root, ex:
            // RS4-box: box for selection, box geometry, transparent material
            // RS4-box.object: imported mesh, shape of machines, material defined in keyshot rendering program

            modelPath = "../static/models/factoryobj4/"
            modelNames = ['MW8', 'RS11', 'PO', 'RS4', 'RS7', 'DAM', 'RS3', 'RS2', 'RS1', 'B2', 'STR19', 'B3', 'B1', 'Tinning-line', 'STR37', 'B5', 'TP1', 'B7', 'RS9', 'RS8', 'B6', 'E5', 'E6', 'E7', 'E3', 'building', 'E2', 'MW16', 'E1'];

            modelNames.forEach(function(modelName){

                var mtlLoader, objLoader
                THREE.Loader.Handlers.add(/\.dds$/i, new THREE.DDSLoader());
                mtlLoader = new THREE.MTLLoader();
                mtlLoader.setPath(modelPath);
                mtlLoader.setMaterialOptions({side: THREE.DoubleSide});
                mtlLoader.load(modelName+'.mtl', function(materials) {

                    materials.preload();
                    objLoader = new THREE.OBJLoader();
                    objLoader.setMaterials(materials);
                    objLoader.setPath(modelPath);
                    objLoader.load(modelName+'.obj', function(object) {
                        obj_mesh = object.children[0];
                        obj_mesh.receiveShadow = false;
                        obj_mesh.castShadow = true;
                        obj_mesh.position.set(0, 0, 0);
                        obj_mesh.name = modelName;
                        
                        if (modelName != 'building') {
                            makeInteractive(obj_mesh)
                        } else {
                            obj_mesh.receiveShadow = false;
                        }

                        scene.add(obj_mesh);
                        console.log('OBJ file loaded: '+modelPath+modelName);
                    }, onProgress, onError);
                });
            });

            
            // FLOOR
            var floor_geo = new THREE.BoxGeometry(100000, 10, 100000);
            var floor_mat = new THREE.MeshStandardMaterial({
                color: 0xc8c8c8,
                //emissive: 0x191919
                metalness: 0.7,
                opacity: 0.5,
                transparent: false
            });
            floor_mat.roughness = 1;
            floor = new THREE.Mesh(floor_geo, floor_mat);
            floor.position.set(0, -5, 0);
            floor.receiveShadow = true;
            floor.name = 'floor'
            scene.add(floor);

            // TEXT
            var texts = ["machine_05", "machine_04"]

            var text = document.createElement('div');
            text.className = 'label';
            text.textContent = texts[0]
            text.style.color = 'rgb(128,128,128)';

            var label = new THREE.CSS2DObject(text);
            label.position.set(2500, 500, 2800);
            scene.add(label);

            //GEOMETRY
            var box = new THREE.BoxGeometry(1000, 1000, 1000);
            var box_mat = new THREE.MeshStandardMaterial({ color: 0x2194ce });
            var boxMesh = new THREE.Mesh(box, box_mat);
            boxMesh.castShadow = true;
            boxMesh.selectable = true;
            boxMesh.position.set(0, 3000, 0);
            boxMesh.name = 'box'
            scene.add(boxMesh);
            makeInteractive(boxMesh);


            // POSTPROCESSING
            composer = new THREE.EffectComposer( renderer );

            var renderPass = new THREE.RenderPass( scene, camera );
            composer.addPass( renderPass );

            outlinePass = new THREE.OutlinePass( new THREE.Vector2( window.innerWidth, window.innerHeight ), scene, camera );
            outlinePass.edgeStrength = 5;
            outlinePass.edgeGlow = 0;
            outlinePass.edgeThickness = 1.5;
            outlinePass.visibleEdgeColor.set(0xff0000);
            outlinePass.hiddenEdgeColor.set(0x000000);

            composer.addPass( outlinePass );

            effectFXAA = new THREE.ShaderPass( THREE.FXAAShader );
            effectFXAA.uniforms[ 'resolution' ].value.set( 1 / window.innerWidth, 1 / window.innerHeight );
            effectFXAA.renderToScreen = true;
            composer.addPass( effectFXAA );


            // INTERACTIVE
            raycaster = new THREE.Raycaster();
            document.addEventListener('mousemove', onDocumentMouseMove, false);

            // TEXT RENDERER
            labelRenderer = new THREE.CSS2DRenderer();
            labelRenderer.setSize(window.innerWidth, window.innerHeight);
            labelRenderer.domElement.style.position = 'absolute';
            labelRenderer.domElement.style.top = '0';
            labelRenderer.domElement.style.pointerEvents = 'none'
            container.appendChild(labelRenderer.domElement);

            // WINDOW        
            window.addEventListener('resize', onWindowResize, false);

            // GUI
            buildGui();

            // STATS
            stats = new Stats();
            stats.domElement.style.position   = 'absolute';
            stats.domElement.style.top = '200px';
            container.appendChild(stats.dom);
        } // end init

        function animate() {
            requestAnimationFrame(animate);
            render();
            stats.update();
        }

        function render() {

            // INTERACTIVE: INTERSECTIONS
            raycaster.setFromCamera(mouse, camera);
            var intersects = raycaster.intersectObjects(interactive_objects);
            if (intersects.length > 0) {
                if (INTERSECTED != intersects[0].object) {
                    if (INTERSECTED) onDeselect(INTERSECTED);
                    INTERSECTED = intersects[0].object;
                    onSelect(INTERSECTED);
                }
            } else {
                //if (INTERSECTED) onDeselect(INTERSECTED);
                //INTERSECTED = null;
            }

            // CAMERA ROTATE ON START
            // var timer = Date.now() * 0.0005;
            // camera.position.x = Math.cos( timer ) * 3;
            // camera.position.z = Math.sin( timer ) * 3;
            // camera.lookAt( cameraTarget );

            // NORMAL RENDER STUFF
            spotLightHelper.update();
            
            
            renderer.render(scene, camera);
            // renderer.render( outScene, camera )
            labelRenderer.render(scene, camera);
            composer.render();
        }

        var onDeselect = function(mesh) {
            outlinePass.selectedObjects = [];
            scaleLocal(mesh, 1);
        };
        var onSelect = function(mesh) {
            outlinePass.selectedObjects = [mesh.object];
            scaleLocal(mesh, scaleSelect);
            document.getElementById("machine_name").innerHTML = mesh.object.name;

            
        };

        // HELPER FUNCTIONS
        function makeInteractive(mesh){ 

            // add variable for scaling
            mesh.geometry.computeBoundingBox();
            var geometryBox = mesh.geometry.boundingBox;
            mesh.center = new THREE.Vector3();
            mesh.center.x = (geometryBox.max.x + geometryBox.min.x) / 2;
            mesh.center.y = (geometryBox.max.y + geometryBox.min.y) / 2;
            mesh.center.z = (geometryBox.max.z + geometryBox.min.z) / 2;
            // TODO: use position.copy
            mesh.position.orig = new THREE.Vector3();
            mesh.position.orig.x = mesh.position.x;
            mesh.position.orig.y = mesh.position.y;
            mesh.position.orig.z = mesh.position.z;


            // bounding box for selecting
            var boundingGeometry = new THREE.BoxGeometry(
                geometryBox.max.x - geometryBox.min.x,
                geometryBox.max.y - geometryBox.min.y,
                geometryBox.max.z - geometryBox.min.z);
            var selectable = new THREE.Mesh( boundingGeometry, new THREE.MeshBasicMaterial({
                color: 0x801010,
                wireframe: true,
                transparent: true,
                opacity: 0.2,
                visible: false // <- SETTING
            }));
            selectable.position.set(
                mesh.center.x + mesh.position.x,
                mesh.center.y + mesh.position.y,
                mesh.center.z + mesh.position.z);
            selectable.object = mesh;
            selectable.name = mesh.name+'-box';
            scene.add(selectable);
            interactive_objects.push(selectable);
        }

        function scaleLocal(box, scale) {
            // since the origin of the object is at global origin, we need 
            // some math in order to scale locally
            // here, we also scale up the selection box <- try remove this if too slow

            mesh = box.object;
            mesh.scale.set(scale, scale, scale); // scale.set(x_scale, y_scale, z_scale)
            box.scale.set(scale, scale, scale); 

            var xSet = mesh.center.x * (1 - scale) + mesh.position.orig.x;
            var ySet = mesh.center.y * (1 - scale) + mesh.position.orig.y;
            var zSet = mesh.center.z * (1 - scale) + mesh.position.orig.z;
            mesh.position.set(xSet, ySet, zSet);
        }

        function onWindowResize() {
            windowHalfX = window.innerWidth / 2;
            windowHalfY = window.innerHeight / 2;
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
            labelRenderer.setSize(window.innerWidth, window.innerHeight);

            // POSTPROCESSING
            composer.setSize(window.innerWidth, window.innerHeight);
            effectFXAA.uniforms[ 'resolution' ].value.set( 1 / window.innerWidth, 1 / window.innerHeight );
        }

        function onDocumentMouseMove(event) {
            event.preventDefault();
            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;
        }

        var onProgress = function(xhr) {
            // if (xhr.lengthComputable) {
            //     var percentComplete = xhr.loaded / xhr.total * 100;
            //     console.log(Math.round(percentComplete, 2) + '% downloaded');
            // }
        };

        var onError = function(xhr) {};


        // GUI
        function buildGui() {

                gui = new dat.GUI();

                var params = {
                    'background': scene.background.getHex(),

                    'ambient color': ambientLight.color.getHex(),

                    'spotlight color': spotLight.color.getHex(),

                    'floor color': floor.material.color.getHex(),
                    'floor emissive': floor.material.emissive.getHex(),

                    'visibleEdgeColor': outlinePass.visibleEdgeColor.getHex(),
                    'hiddenEdgeColor': outlinePass.hiddenEdgeColor.getHex(),
                    'scaleSelect': scaleSelect

                }

                var sceneFolder = gui.addFolder('Scene');
                sceneFolder.addColor( params, 'background' ).onChange(function(val){ scene.background.setHex(val) });

                var ambientLightFolder = gui.addFolder( 'AmbientLight' );
                ambientLightFolder.addColor( params, 'ambient color' ).onChange(function(val){ ambientLight.color.setHex(val); });
                ambientLightFolder.add( ambientLight, 'intensity', 0, 2 );


                var spotLightFolder = gui.addFolder( 'Spotlight' );
                spotLightFolder.addColor( params, 'spotlight color' ).onChange(function(val){ spotLight.color.setHex(val); });
                spotLightFolder.add( spotLight, 'intensity', 0, 2 );
                spotLightFolder.add( spotLight, 'distance', 50, 120000 );
                spotLightFolder.add( spotLight, 'angle', 0, Math.PI / 3 );
                spotLightFolder.add( spotLight, 'penumbra', 0, 1 );
                spotLightFolder.add( spotLight, 'decay', 0, 2 );
                spotLightFolder.add( spotLight.position, 'x', -20000, 20000 );
                spotLightFolder.add( spotLight.position, 'y', 0, 50000 );
                spotLightFolder.add( spotLight.position, 'z', -20000, 20000 );

                var floorFolder = gui.addFolder( 'Floor Material' );
                floorFolder.add( floor.material, 'transparent');
                floorFolder.add( floor.material, 'opacity', 0, 1);
                floorFolder.addColor( params, 'floor color').onChange(function(val){ floor.material.color.setHex(val) });
                floorFolder.addColor( params, 'floor emissive').onChange(function(val){ floor.material.emissive.setHex(val) });
                floorFolder.add( floor.material, 'roughness', 0, 1);
                floorFolder.add( floor.material, 'metalness', 0, 1);

                var selectFolder = gui.addFolder( 'Selection' );
                selectFolder.add( params, 'scaleSelect', 1, 1.2 );
                selectFolder.add( outlinePass, 'edgeStrength', 0, 10 );
                selectFolder.add( outlinePass, 'edgeGlow', 0, 2 );
                selectFolder.add( outlinePass, 'edgeThickness', 0, 5 );
                selectFolder.addColor( params, 'visibleEdgeColor').onChange(function(val){ outlinePass.visibleEdgeColor.setHex(val) });
                selectFolder.addColor( params, 'hiddenEdgeColor').onChange(function(val){ outlinePass.hiddenEdgeColor.setHex(val) });


        }

    </script>

    </body>
</html>
